body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Ppopins, Georgia, Times, 'Times New Roman', serif;
}

:root {
     --navbar-background-color: #111;
     --background-color: #212529;
     --text-color: #fff;
     --hover-color: #ffa500;
     --style-color: #00ffffd5;
}


.portfolio-container {
     background-color: var(--background-color);
     color: var(--text-color);
     height: auto;
     width: 100%;
     text-decoration: none !important;
}

/* Navbar Section */

.header {
     /* display: flex; */
     align-items: center;
     justify-content: space-between;
     background-color: var(--navbar-background-color);
     width: 100%;
     position: relative;
     top: 0;
     z-index: 1000;
     border-bottom: #212529;
}

.nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0.5rem 1rem;
}

.nav-logo {
     /* width: 80%; */
     position: relative;
     left: 0;
     font-size: 1.65rem;
     margin-left: 2rem;
}

.nav-logo:hover {
     cursor: pointer;
     color: var(--hover-color);
     font-size: 1.85rem;
}

.nav-sec {
     /* width: 20%; */
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 1rem;
     margin-right: 3rem;

}

.nav-sec a {
     text-decoration: none;
     color: var(--text-color);
}

.nav-sec a:hover {
     cursor: pointer;
     color: var(--hover-color);
     border-bottom: 2px solid var(--hover-color);
}


/* Navbar Responsive */

/* Home Section */

.home-section {
     border: 2px solid red;
     padding: 5rem;
     display: flex;
     align-items: center;
     justify-content: center;

}

.home-section .left-home-sec,
.right-home-sec {
     width: 50%;
     padding-left: 3rem;
}

.left-home-sec {
     line-height: 1.5;
     margin: a auto;
     margin-left: 2rem;
     text-align: center;

}

.left-home-sec .hello {
     font-size: 1.25rem;
}

.left-home-sec .name {
     font-size: 2.5rem;
}

.left-home-sec .name .mohit {
     color: var(--hover-color);
}


.left-home-sec .name .hod {
     color: var(--style-color);
}

.left-home-sec .info {
     font-size: 1.25rem;
}

.text-animation {
     font-size: 1.75rem;
     font-weight: 600;
     min-width: 280px;
}

.text-animation span {
     position: relative;
}

.text-animation span::before {
     content: "Web Developer";
     /* color: #0fe; */
     color: var(--style-color);
     animation: words 20s infinite;
}

.text-animation span::after {
     content: "";
     /* background-color: #080808; */
     background-color: var(--background-color);
     position: absolute;
     width: calc(100% + 8px);
     height: 120%;
     /* border-left: 3px solid #080808; */
     border-left: 3px solid var(--background-color);
     right: -8px;
     animation:
          cursor 0.6s infinite,
          typing 20s steps(14) infinite;
}

@keyframes cursor {
     to {
          border-left: 2px solid #0fe;
     }
}

@keyframes words {

     0%,
     20% {
          content: "Web Developer";
     }

     21%,
     40% {
          content: "Web Designer";
     }

     41%,
     60% {
          content: "UI/UX Designer";
     }

     61%,
     80% {
          content: "Web Manager";
     }

     81%,
     100% {
          content: "Freelancer";
     }
}

@keyframes typing {

     10%,
     15%,
     30%,
     35%,
     50%,
     55%,
     70%,
     75%,
     90%,
     95% {
          width: 0;
     }

     5%,
     20%,
     25%,
     40%,
     45%,
     60%,
     65%,
     80%,
     85% {
          width: calc(100% + 8px);
     }
}

.socials-icons {
     text-decoration: none;
     margin: 2rem 0rem;
}

.socials-icons .social-icon {
     padding: 0.5rem;
     height: 3rem;
     width: 3rem;
     font-size: 1.3rem;
     margin: 1rem 0.25rem;
     border-radius: 50%;
     color: var(--text-color);
     border: 1px solid rgb(107, 107, 107);
     transition: all 0.1s ease;
}

.socials-icons .social-icon:hover {
     background-color: var(--hover-color);

}



.right-home-sec .img-box img {
     height: 20rem;
     width: 18rem;
     /* margin-top: 2rem; */
     border-radius: 50%;
     /* border-top-left-radius: 70%; */
     /* border-top-right-radius: 70%; */
     box-shadow: hsla(180, 100%, 50%, 0.75) 0px 2px 20px 4px;
}